apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-mrxr
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-mrxr
    app.kubernetes.io/part-of: ci1t-830-0054-app
  name: devfile-sample-mrxr
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-mrxr
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-mrxr
    spec:
      containers:
      - image: quay.io/stonesoup_perfscale/ci1t-830-0054-tenant/ci1t-830-0054-app/devfile-sample-mrxr@sha256:f50bb880d5bd4dc487b13517918fb7afca742107d58a82108609df8b0b4352ca
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
